<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.powiki.domain.pokemon.mapper.PokemonMapper">

    <insert id="insertPokemonAbility">
        INSERT INTO pokemon_ability_map
        (
             pokemon_id
            ,ability_id
            ,slot
            ,is_hidden
        )
        VALUES
        (
             #{pokemonId}
            ,#{abilityId}
            ,#{slot}
            ,#{isHidden}
        )
    </insert>

    <insert id="insertPokemonSprite">
        INSERT INTO pokemon_sprite
        (
             pokemon_id
            ,sprite_shiny_url
            ,artwork_shiny_url
        )
        VALUES
        (
             #{pokemonId}
            ,#{spriteShinyUrl}
            ,#{artworkShinyUrl}
        )
    </insert>

    <insert id="insertPokemonType">
        INSERT INTO pokemon_type_map
        (
             pokemon_id
            ,type_id
            ,slot
        )
        VALUES
        (
             #{pokemonId}
            ,#{typeId}
            ,#{slot}
        )
    </insert>

    <insert id="insertPokemon">
        INSERT INTO pokemon
        (
             id
            ,pokemon_species_id
            ,sort_order
            ,name
            ,main_artwork_url
            ,main_sprite_url
            ,cries
            ,height
            ,weight
            ,hp
            ,attack
            ,defense
            ,special_attack
            ,special_defense
            ,speed
            ,is_default
        )
        VALUES
        (
             #{id}
            ,#{pokemonSpeciesId}
            ,#{sortOrder}
            ,#{name}
            ,#{mainArtworkUrl}
            ,#{mainSpriteUrl}
            ,#{cries}
            ,#{height}
            ,#{weight}
            ,#{hp}
            ,#{attack}
            ,#{defense}
            ,#{specialAttack}
            ,#{specialDefense}
            ,#{speed}
            ,#{isDefault}
        )
    </insert>

    <!-- Pokemon 리스트 -->
    <resultMap id="pokemonListResponse" type="com.example.powiki.domain.pokemon.model.response.PokemonListResponse">
        <id property="id" column="id" />
        <result property="pokemonSpeciesId" column="pokemon_species_id"/>
        <result property="name" column="name" />
        <result property="generation" column="generation" />
        <result property="formType" column="form_type"  />
        <result property="formName" column="form_name" />
        <result property="isLegendary" column="is_legendary" />
        <result property="isMythical" column="is_mythical" />

        <collection property="types" ofType="com.example.powiki.domain.pokemon.model.response.PokemonListResponse$pokemonType">
            <id property="id" column="type_id" />
            <result property="slot" column="slot" />
            <result property="name" column="type_name" />
            <result property="color" column="type_color" />
        </collection>
    </resultMap>

    <select id="selectPokemonList" resultMap="pokemonListResponse" parameterType="String">
        SELECT
             p.id
            ,p.pokemon_species_id
            ,p.name
            ,ps.generation
            ,t.id as type_id
            ,ptm.slot
            ,t.name as type_name
            ,t.color as type_color
            ,p.form_type
            ,p.form_name
            ,CASE WHEN ps.is_legendary = 'Y' THEN 1 ELSE 0 END AS is_legendary
            ,CASE WHEN ps.is_mythical = 'Y' THEN 1 ELSE 0 END AS is_mythical
        FROM
            pokemon p
        JOIN
            pokemon_species ps ON p.pokemon_species_id = ps.id
        JOIN
            pokemon_type_map ptm ON p.id = ptm.pokemon_id
        JOIN
            type t ON t.id = ptm.type_id
        WHERE
            p.is_active = 'Y'
        ORDER BY
            p.pokemon_species_id, p.id, ptm.slot
    </select>

    <!-- 해당 종의 모든 pokemon Id 가져오기-->
    <select id="selectIdBySpeciesId" resultType="long">
        SELECT
            id
        FROM
            pokemon
        WHERE
            pokemon_species_id = #{speciesId}
        AND
            is_active = 'Y'
        ORDER BY
            id ASC
    </select>

    <!-- 포켓몬 기본 정보 -->
    <select id="selectPokemonBasicInfo" resultType="PokemonBasicInfoDTO" parameterType="Long">
        SELECT
            p.id,
            p.name,
            p.hp, p.attack, p.defense, p.special_attack, p.special_defense, p.speed,
            p.height,
            p.weight,
            p.form_group,
            p.form_type,
            p.form_name
        FROM
            pokemon p
        WHERE
            p.id = #{id}
        AND
            p.is_active = 'Y'
    </select>

    <!-- 포켓몬 타입정보 -->
    <select id="selectPokemonTypeInfo" resultType="PokemonTypeInfoDTO" parameterType="Long">
        SELECT
            t.id,
            t.name,
            t.color,
            ptm.slot
        FROM
            pokemon_type_map ptm
        JOIN
            type t ON ptm.type_id = t.id
        WHERE
            ptm.pokemon_id = #{id}
        ORDER BY
            ptm.slot;
    </select>

    <!-- 포켓몬 특성 정보 -->
    <select id="selectPokemonAbilityInfo" resultType="PokemonAbilityInfoDTO" parameterType="Long">
        SELECT
            a.id,
            a.name,
            a.description,
            CASE WHEN pam.is_hidden = 'Y' THEN 1 ELSE 0 END AS is_hidden,
            pam.slot
        FROM
            pokemon_ability_map pam
        JOIN
            ability a ON pam.ability_id = a.id
        WHERE
            pam.pokemon_id = #{id}
        ORDER BY
            pam.slot;
    </select>

    <!-- 이전 포켓몬 정보 -->
    <select id="selectPrevPokemon" resultType="PokemonNavInfoDTO">
        SELECT
            id, name
        FROM
            pokemon_species
        WHERE
            id = (
                    SELECT COALESCE
                    (
                        (SELECT MAX(id) FROM pokemon_species WHERE id &lt; #{currentId}),
                        (SELECT MAX(id) FROM pokemon_species)
                    )
                 )
    </select>

    <!-- 이후 포켓몬 정보 -->
    <select id="selectNextPokemon" resultType="PokemonNavInfoDTO">
        SELECT
            id, name
        FROM
            pokemon_species
        WHERE
            id = (
                    SELECT COALESCE
                    (
                        (SELECT MIN(id) FROM pokemon_species WHERE id &gt; #{currentId}),
                        (SELECT MIN(id) FROM pokemon_species)
                    )
                 )
    </select>

</mapper>