<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.powiki.api2db.mapper.DataIngestionMapper">

    <insert id="insertVersion">
        insert into version( id, name, region, generation )
        values( #{id}, #{name}, #{region}, #{generation} )
    </insert>

    <insert id="insertType">
        INSERT INTO type( id, name, generation, sprite )
        VALUES( #{id}, #{name}, #{generation}, #{sprite} )
    </insert>

    <insert id="insertTypeEfficacy">
        INSERT INTO type_efficacy( damage_type_id, target_type_id, damage_factor )
        VALUES( #{damageTypeId}, #{targetTypeId}, #{damageFactor} )
    </insert>

    <insert id="insertEggGroup">
        INSERT INTO egg_group( id, name )
        VALUES( #{id}, #{name} )
    </insert>

    <insert id="ingestAbility">
        INSERT INTO ability( id, name, description, generation, is_main_series )
        VALUES( #{id}, #{name}, #{description}, #{generation}, #{isMainSeries} )
    </insert>

    <insert id="insertPokemonAbility">
        INSERT INTO pokemon_ability_map( pokemon_id, ability_id, slot, is_hidden )
        VALUES( #{pokemonId}, #{abilityId}, #{slot}, #{isHidden} )
    </insert>

    <insert id="insertPokemonSprite">
        INSERT INTO pokemon_sprite( pokemon_id, sprite_shiny_url, artwork_shiny_url )
        VALUES( #{pokemonId}, #{spriteShinyUrl}, #{artworkShinyUrl} )
    </insert>

    <insert id="insertPokemonType">
        INSERT INTO pokemon_type_map( pokemon_id, type_id, slot )
        VALUES( #{pokemonId}, #{typeId}, #{slot} )
    </insert>
</mapper>